In [53]:
import pandas as pd
import numpy as np

In [54]:
def clean_df(df, name):
    years = range(2002, 2023)
    df = df.set_index('Country/Territory')
    only_estimate = df.loc[:, df.columns.str.contains('Estimate')].iloc[:, 3:]
    only_estimate.columns = years
    df_transposed = only_estimate.T
    df_transposed = df_transposed.reset_index()
    df_transposed.rename(columns={'index': 'Year'}, inplace=True)
    df_melted = df_transposed.melt(id_vars=['Year'], var_name='Country', value_name='Estimate')
    df_melted = df_melted.rename(columns={'Estimate': name})
    return df_melted

In [56]:
corruption = pd.read_csv('ControlofCorruption.csv', skiprows=1)
corruption_cleaned = clean_df(corruption, "COC")

In [57]:
voice_accountability = pd.read_csv('VoiceAndAccountability.csv', skiprows=1)
voice_accountability_cleaned = clean_df(voice_accountability, "VAA")

In [58]:
political_instability = pd.read_csv('PoliticalStabilityNoViolence.csv', skiprows=1)
political_instability_cleaned = clean_df(political_instability, "PI")

In [59]:
government_effectiveness = pd.read_csv('GovernmentEffectiveness.csv', skiprows=1)
government_effectiveness_cleaned = clean_df(government_effectiveness, "GE")

In [60]:
regulatory_quality = pd.read_csv('RegulatoryQuality.csv', skiprows=1)
regulatory_quality_cleaned = clean_df(regulatory_quality, "RQ")

In [61]:
rol = pd.read_csv("RuleofLaw.csv", skiprows=1)
rol_cleaned = clean_df(rol, "ROL")

In [62]:
merge1 = corruption_cleaned.merge(voice_accountability_cleaned, on=["Country", "Year"])

In [63]:
merge2 = merge1.merge(political_instability_cleaned, on=["Country", "Year"])

In [64]:
merge3 = merge2.merge(government_effectiveness_cleaned, on=["Country", "Year"])

In [65]:
merge4 = merge3.merge(regulatory_quality_cleaned, on=["Country", "Year"])

In [66]:
merge5 = merge4.merge(rol_cleaned, on=["Country", "Year"])

In [67]:
merge5

      Year   Country   COC   VAA    PI    GE    RQ   ROL
0     2002     Aruba   NaN   NaN   NaN   NaN   NaN   NaN
1     2003     Aruba   NaN   NaN   NaN   NaN   NaN   NaN
2     2004     Aruba  1.17  0.74  0.99  1.28  0.76  0.92
3     2005     Aruba  1.27  1.15  1.38  1.29  0.86  0.85
4     2006     Aruba  1.25  1.02  1.30  1.28  0.86  0.81
...    ...       ...   ...   ...   ...   ...   ...   ...
4489  2018  Zimbabwe -1.25 -1.14 -0.72 -1.30 -1.53 -1.29
4490  2019  Zimbabwe -1.27 -1.16 -0.94 -1.32 -1.49 -1.30
4491  2020  Zimbabwe -1.29 -1.11 -1.05 -1.36 -1.43 -1.33
4492  2021  Zimbabwe -1.25 -1.14 -0.95 -1.30 -1.39 -1.28
4493  2022  Zimbabwe -1.26 -1.10 -0.88 -1.25 -1.43 -1.24

[4494 rows x 8 columns]

In [68]:
# merge5.to_csv('world_gov_indicators.csv')